<div class="form-group">
                        <label for="country" class="col-sm-4" style="font-weight: 600; margin-top:7px;">Country<span style="color:red"> * </span></label>
                        <div class="col-sm-7">
                            <!-- <input type="text" class="form-control" id="country" data-ng-model="account.billingcountry" placeholder="Country" >-->
                            <select class="form-control" id="group" ng-model="account.billingcountry" data-placeholder="Pick a country" style="width:100%;">
                                <option value="" disabled>pick a Country</option>
                                <option data-ng-repeat="country in countries" value="{{country.id}}">{{ country.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="state" class="col-sm-4" style="font-weight: 600; margin-top:7px;">State<span style="color:red"> * </span></label>
                        <div class="col-sm-7">
                            <!--<input type="text" class="form-control" id="state" data-ng-model="account.billingstate" placeholder="State" >-->
                            <select class="form-control" id="group" ng-model="account.billingstate" data-placeholder="Pick a State" style="width:100%;">
                                <option value="" disabled>pick a State</option>
                                <option data-ng-repeat="state in states" value="{{state.id}}">{{ state.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="city" class="col-sm-4" style="font-weight: 600; margin-top:7px;">City<span style="color:red"> * </span></label>
                        <div class="col-sm-6">
                            <select class="form-control" id="group" ng-model="account.billingcity" data-placeholder="Pick a City" style="width:100%;">
                                <option value="" disabled >Pick a City</option>
                                <option data-ng-repeat="city in cities" value="{{city.id}}">{{ city.name }}</option>
                            </select>

                        </div>
                        <div class="col-sm-2 ">
                            <a class="btn btn-success btn-sm btn-flat" data-ng-click="openCityModel()" ng-hide="hideCityAddButton"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add City</a>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="zip" class="col-sm-4" style="font-weight: 600;margin-top:5px; ">Zip/Postal Code<span style="color:red"> * </span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="zip" data-ng-model="account.billingzip" placeholder="Zip/Postal Code" maxlength="6"  numbers-only="numbers-only">
                        </div>
                    </div>


                </div>



